
<title>Contacts</title>
<div id="content">
  <p class="title">Contacts</p>
  <form action="/contacts" method="get" hx-target="#content">
    <label class="label" for="search">Search Term</label>
    <div class="field has-addons">
      <div class="control">
        <input class="input" id="serach" type="search" name="q" value="{{ search }}">
      </div>
      <div class="control">
        <input class="button is-primary" type="submit" value="Search">
      </div>
    </div>
  </form>
  <br>
  <table class="table is-striped">
    <thead>
      <tr>
        <th>First</th> <th>Last</th> <th>Phone</th> <th>Email</th> <th></th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
      <tr>
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <a href="/contacts/{{ contact.id }}/edit">Edit</a>
          <a href="/contacts/{{ contact.id }}" hx-target="#content">View</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>
    <a href="/contacts/new" hx-target="#content" hx-swap="outerHTML">Add Contact</a>
  </p>
  <button class="button is-light" hx-get="/" hx-target="#back" hx-swap="outerHTML" hx-push-url="true">Back</button>
</div>

{% set msg = flash.getMessage('status') | first %}
{% if msg %}
<article class="message is-success" _="init wait 2s then remove me">
  <div class="message-header">
    <p>Success</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    {{ msg }}
  </div>
</article>
{% endif %}