
<title>Contacts</title>
<div id="content">
    <h1 class="title">Contacts</h1>

    <form action="/contacts" method="get" hx-target="#content">
        <label class="label" for="search">Search Term</label>
        <div class="control">
            <input class="input" id="serach" type="search" name="q" value="{{ search }}">
        </div>
        <div class="control">
            <input class="button" type="submit" value="Search">
        </div>
    </form>
    <br>
     <table class="table is-striped">
        <thead>
        <tr>
            <th>First</th> <th>Last</th> <th>Phone</th> <th>Email</th> <th></th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td><a href="/contacts/{{ contact.id }}/edit">Edit</a>
                    <a href="/contacts/{{ contact.id }}">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="button" hx-get="/" hx-target="#back" hx-swap="outerHTML" hx-push-url="true">Back</button>
</div>
